*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: darkcyan;
}

.container{
    width: 80vw;
    background: #fff;
    padding: 2rem;
    margin: 10rem auto 0;
    border-radius: 20px;
}

h1{
    font-size: 2.5rem;
    border-bottom: 2px solid black;
    font-weight: 600;
    padding-bottom: 2rem;

}

.start{
     margin:1rem 0;
}

.start h2{
    font-size: 2rem;
}

.btn{
    width: 100%;
    text-align: left;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1rem 0;
    border-color: black;
    background-color: #fff;
    color: black;
    cursor: pointer;
    transition: all .3s;
    border-radius: 5px;
}


.correct{
    background-color: rgb(140, 224, 140);
}
.incorrect{
    background-color: rgb(240, 103, 103);
}
.btn:hover:not([disabled]){
    background-color: black;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}
.next-btn{
    width: 150px;
    padding: .8rem;
    background: darkcyan;
    font-size: 1.1rem;
    font-weight: 550;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    display: none;
    cursor: pointer;
}